canvas {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

mat-form-field {
    font-size: medium;
    padding-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.child {
    display: flex;
    justify-content: center;
}

.pie-container {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30%;
}