<mat-toolbar>
    Arrow Assignment
    <button mat-icon-button aria-label="Menu Icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer class="mat-elevation-z8" mode="side">
        <div class="row">
            <button mat-raised-button routerLink="chart">Chart</button>
        </div>
        <br>
        <br>
        <div class="row">
            <button mat-raised-button routerLink="table">Table</button>
        </div>
    </mat-drawer>

  <div class="content mat-elevation-z8">
    <h1 *ngIf="router.isActive('/dashboard', true)">Welcome to Arrow Assignment!</h1>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
